__pycache__/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.benchmarks/
venv/
.venv/
.venv-3.11/
.venv-3.12/
.venv-3.13/
.venv-3.14/
venv/
EXAMPLE.md
.vscode
*.log
*.prof
benchmarks/
sampling/
*.tape
storybook/
TODO.md
views/
dist/
build/
.env
.python-version
.coverage
scripts/